html, body {
	height: 100%;
	margin: 0;
}

header {
	display: flex;
	height: 20%;
}

.row1 {
	height: 100%;
	width: 33.3%;
	margin: 10px;
}

.red {
	background: rgba(208,4,27,1);
}

.blue {
	background: rgba(74,144,226,1);
}

.black {
	background: rgba(74,74,74,1);
}

.content {
	font-size: 1.4rem;
	padding: 5__px;
	margin: 10px;
}

p {
	margin: 10px;
}

.third {
	display: flex;
	height: 35%;
}

.left {
	height: 100%;
	width: 50%;
	margin-left: 10px;
}

.right {
	height: 100%;
	width: 80%;
	margin-right: 10px;
}

footer {
	display: flex;
	height: 15%;
	margin: 20px 10px;
}

.alpha {
	height: 100%;
	width: 75%;
}

.bravo {
	height: 100%;
	width: 25%;
}

.charlie {
	height: 100%;
	align-items: center;
	margin-left: 35px;
	margin-right: 35px;

}